@model IEnumerable<Hotel_Managements_System.Models.Hotel>

@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_LayoutShopping.cshtml";
}



<div class="hotel-body">
    <style>
        .hotel-body {
            padding: 20px;
        }

  

        .hotel-image {
            max-width: 100%;
            height: auto;
        }
    </style>


    @if (Model != null)
        @foreach (var item in Model)
        {
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <!-- Hotel Name -->
                            <div class="card-header">
                                <h2 class="card-title">@item.name</h2>
                            </div>

                            <!-- Body Information (Address, City, Country) -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-text"><strong>الحي:</strong> @item.address</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text"><strong>المدينة:</strong> @item.city</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text"><strong>رقم التواصل</strong> @item.phone</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text"><strong>البريد:</strong> @item.email</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Image -->
                        <div class="card">
                            <img src="@item.image" alt="صورة الفندق" class="card-img-top">

                            <div class="card-body">
                                <div class="text-center">
                                    <a asp-action="RoomList" asp-route-id="@item.id" class="btn btn-primary">عرض الغرف</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        }



</div>

